/* FONTS 
font-family: 'Gochi Hand', cursive;
font-family: 'Anonymous Pro', monospace;
font-family: 'Montserrat', sans-serif; */


h1, h2, h3, h4, h5 {
    font-family: 'Gochi Hand', cursive;
}

p, li, a {
    font-family: 'Montserrat', sans-serif;
}

body {
    text-align: center;
    background: url("../images/banner3.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh; 
    width: 100vw; 
}


#dynamic-background-mega {
    text-align: center;
    background: url("../images/results1.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /* Found viewport height and viewport width source code on GeeksforGeeks
    Source: https://www.geeksforgeeks.org/how-to-give-a-div-tag-100-height-of-the-browser-window-using-css/ */
    height: 100vh; 
    width: 100vw; 
}

.header-text {
    padding-top: 5%;
}


.search-bar {
    padding: 0 7% 7%;
}


#data-font {
    font-family: 'Anonymous Pro', monospace;
    font-size: 2rem;
}

#tagline {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
}

#daytrip-logo {
    width: 60%;
}

.search-bar {
    margin-top: 2%;
}

.search-bar-div {
    text-align: center;
}

.form-control {
    margin: 1% auto;
    width:80% 
}

.btn-search {
    margin-top: 2%;
    border-color: lightsalmon;
    background-color: lightsalmon;
    color: black;
    font-family: 'Anonymous Pro', monospace;
}

.btn:hover {
    background-color: darkolivegreen;
    border-color: darkolivegreen;
    color: white;
}

.col-md-5 {
    padding: 0;
    margin: 0;
}

.card {
    margin: 2%;

}

.card-align {
    text-align: center;
}

.row-1 {
    text-align: center;
} 

.results-img {  
    margin-top: 10px;
    margin-left: 50px;
    height: 225px;
    width: 225px;
    border-radius: 100%;
}

#yelp-data-output {
    text-align: center;
}

#weather-data-output {
    text-align: center;
}

.weather-icon {
    background-color: lightcoral;
    border-radius: 100%;
    margin-bottom: 2%;
}

#city {
    padding-top: 2%;
    font-size: 4rem;
}